# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
build/

# TypeScript
tsconfig.tsbuildinfo
*.tsbuildinfo

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
*.log
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel
